<%
	function findDigimon(id) {
	return monsters.find(function (monster) {
		return monster.id == id || monster.name.toLowerCase() == id;
	});

}

%>
<digi-forms class="">
			<h3 class="attention-voice">Digivolutions</h3>
		<ul>
			<% 
				evolutions.forEach(function(evolution) {
					let condition = evolution.condition ? 'has-condition' : "";
					let monster = findDigimon(evolution.id)
					if (!monster) return; 
				%>
					<li>
						<a href="<%=evolution.id%>">
							<monster-card class="<%=condition%>">
								<h4><%=evolution.digimon%></h4>
								<picture>
									<img src="<%=monster.images[0].href%>">
								</picture>
								<p class="hover-text">
									<%=evolution.condition%>
								</p>
							</monster-card>
						</a>
					</li>
			<% }) %>
		</ul>
		</digi-forms>